/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 62em;
}

.cover-home-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.csv-table {
  white-space: pre-wrap;
  color: #333;
  background-color: #fff;
  padding: 10px;
  max-width: 100%;
  overflow-x: auto;
}
.csv-table table {
  width: 100%;
  border-collapse: collapse;
}
.csv-table th, .csv-table td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: #333; /* Text color */
  border: none; /* Remove borders */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 40px;
  height: 40px;
  border-radius: 10px; /* Rounded corners */
  font-size: 1em; /* Increase font size */
}

#topBtn::after {
  content: "\f062";
  font-family: FontAwesome;
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  color: #fff;
  border: solid 1px #fff;
}